---
layout: default
title: All Articles
---

<div class="grid grid-cols-1 md:grid-cols-2">
  {% assign sortedPages = site.pages | sort: "sortDate" | reverse %} {% for page
  in sortedPages %} {% if page.categories contains "article" %}
  <div
    class="flex flex-col items-center md:flex-row md:max-w-xl rounded-lg bg-mainbackgroundcolor m-2"
  >
    <a href="{{ page.url }}">
      <img src="{{ page.openGraphImage % }}" />
    </a>
  </div>
  {% endif %} {% endfor %}
</div>

<p class="paragraph paragraph-spacer mt-8">
  Please check back later as I intend to be writing more soon!
</p>
