<footer class="p-4 overflow-hidden">
    <div class="rounded-lg bg-focusbackgroundcolor main-border shadow-main">
        <div class="flex flex-row p-2 pl-5 footer-element items-center">
            <div>
                <a href="/About.html" class="hover:text-maintextcolor">Made by a human</a>
                <p>© 2025 Agne Skripkaite</p>
            </div>
            <div class="flex-grow"></div>
            <div>
                {% include socialLinks.html %}    
            </div>
        </div>
    </div>
</footer>