<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='12 0 100 100'><text y='.9em' font-size='90'>🙃</text></svg>" />
    <title>{{ page.title }} - {{ site.title }}</title>

    <meta name="og:site_name" content="Agne Skripkaite">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{% if page.openGraphImage %}{{ page.openGraphImage }}{% else %}https://agneskripkaite.github.io/assets/images/opengraph/main.png{% endif %}" />
    <meta property="og:type" content="{% if page.categories contains "article" %}article{% else %}website{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Tips, tricks, and mad ravings from Unreal gamedev adventures!{% endif %}"/>

    <link rel="stylesheet" href="{{ "/assets/css/app.css" | relative_url }}">
</head>