<div class="pl-5 pr-5 pb-2 pt-4 max-w-125">
    <nav>
        <ul class="flex flex-row justify-between items-center overflow-hidden font-sans text-stone-200">
            <li><a href="/" {% if page.url == "/" %} class="text-amber-400" {% endif %}>Home</a></li>
            <li><a href="/UnrealEngineNotes.html" {% if page.url == "/UnrealEngineNotes.html" %} class="text-amber-400" {% endif %}>Unreal Engine Notes</a></li>
            <li><a href="#" class="text-stone-200">How I Made This Website</a></li>
        </ul>
    </nav>
</div>