@import "tailwindcss";

@theme inline {
    --font-sans: "Atkinson Hyperlegible", serif;
    --color-contrastcolor: var(--color-amber-400);
    --color-maintextcolor: var(--color-stone-400);
    --color-focustextcolor: var(--color-stone-50);
    --color-mainbackgroundcolor: var(--color-stone-900);
    --color-focusbackgroundcolor: var(--color-stone-950);
    --color-bordercolor: var(--color-stone-800);
    --shadow-main: 0px 0px 20px var(--color-focusbackgroundcolor);
}

.main-border{
    @apply border-4 border-bordercolor;
}

.heading1{
    @apply text-3xl text-focustextcolor;
}

.headingDivider{
    @apply h-px mt-1 mb-8 bg-focustextcolor border-0;
}

.paragraph{
    @apply text-xl text-maintextcolor pb-4;
}