@import "tailwindcss";

@theme inline{
    --color-contrastcolor: var(--color-amber-400);
    --color-maintextcolor: var(--color-stone-200);
    --color-mainbackgroundcolor: var(--color-stone-900);
    --color-focusbackgroundcolor: var(--color-stone-950);
    --color-bordercolor: var(--color-stone-800);
}

.main-border{
    @apply border-4 border-bordercolor;
}