---
layout: note
title: Blogroll
dateWritten: 13 Feb 2025
dateEdited: 12 Oct 2025
toc: true
---

<p class="paragraph">
  Here's a list of resources I've found useful and/or entertaining over the
  years. Hope you find something new here!
</p>

{% for item in site.data.blogrollCategories %}
<h2 class="heading2 heading-spacer">{{ item.name }}</h2>
<hr class="heading-divider" />
{% assign category_resources = site.blogroll | where: "category", item.name %}
{% for resource in category_resources %}
<div
  class="flex flex-col items-left rounded-lg bg-mainbackgroundcolor main-border shadow-main hover:bg-focusbackgroundcolor m-2"
>
  <a href="{{ resource.link }}" class="px-6 py-6">
    <p class="article-card-heading">{{ resource.name }}</p>
    <p class="article-card-text">{{ resource.content }}</p>
  </a>
</div>
{% endfor %}{% endfor %}
