<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='12 0 100 100'><text y='.9em' font-size='90'>🙃</text></svg>" />
    <title>Agne Skripkaite</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<header class="pt-10 overflow-hidden">
    <div class="mx-auto max-w-200 rounded-lg bg-stone-950 font-sans">

        <div class="flex flex-col p-2 pl-5 pt-6">
            <h1 class="text-4xl text-amber-400">Agne Skripkaite</h1>
            <p class="text-lg text-stone-200 pt-3">on gamedev adventures!</p>
        </div>

        {% include navigation.html %}

    </div>
</header>

<body class="bg-stone-900">
    <div class="mx-auto max-w-200 text-base text-stone-200 font-sans pt-7">
        {{ content }}
    </div>
</body>

</html>