<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="mx-auto max-w-7xl bg-mainbackgroundcolor">

    {% include header.html %}

    <div class="pl-4 text-xl text-maintextcolor justify-center">
        <div class="flex flex-row flex-wrap">
            {% include notesNavigation.html %}
            <div class="w-10"></div>
            <div class="note-body py-6">
                {{ content }}  
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>