<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="mx-auto max-w-7xl bg-mainbackgroundcolor">

    {% include header.html %}

    <div class="m-4 text-xl text-maintextcolor justify-center">
        <div class="flex flex-row flex-wrap items-center">
            <div>
                {% include notesNavigation.html %}
            </div>
            <div class="w-10"></div>
            <div class="full-page-body">
                {{ content }}  
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>